#header {
    display: flex;
    font-size: 18pt;
    padding: 5px;
    background-color: rgb(238, 238, 238);
    border-bottom: 1px solid rgba(0, 0, 0, 0.418);
}
#titulo {
    margin: auto;
}
#opcoes{
    position: absolute;
    margin-left: 96.5%;
    width: 25px;
    text-align: center;
    padding: 5px;
    background-color: rgb(202, 202, 202);
    border-radius: 50px;
    transition: 0.5s;
}
#opcoes:hover{
    cursor: pointer;
    background-color: rgb(170, 170, 170);
    transition: 0.5s;
}
#funcionalidades{
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.521);
    justify-content: center;
}
#busca {
    width: 400px;
    border: 1px solid;
    border-radius: 5px;
    padding: 10px;
}
#busca::placeholder{
    text-align: center;
}
